{% extends "layout.html" %}
{% block head %}
    {{ super() }}
{% endblock %}
{% block body_title %}
    {{ super() }}
    
    {% endblock %}
{% block body %}
    <script src="{{ url_for('static', filename='js/thumbnailer.js') }}"></script>
    
    <h2>Photometry Tool</h2>
    <span class="error"></span>
    <hr width="400px" color="#aaa" size="1px" />
    <br/>
    
    <div id="filter_select">
        <b>Filter:</b> <font color="">Ri</font> <input type="radio" name="filter" value="Ri" checked=checked />
        <font color="">Gi</font> <input type="radio" name="filter" value="Gi" />
        <font color="">Bi</font> <input type="radio" name="filter" value="Bi" />
    </div>
    
    <div id="imageWrapper">
        <div style="position: relative;">
            <canvas id="imageContainer" 
                style="position: absolute; left: 0; top: 0; z-index: 0;"></canvas>
            <canvas id="imageOverlay" 
                style="position: absolute; left: 0; top: 0; z-index: 1;"></canvas>
        </div>
        <div id="controlPanel" style="position: relative;">
            <canvas id="zoom-view" width=150 height=150></canvas>
            <div style="position: absolute; top:25px; left: 170px; font-size: 10pt;">
                <span style="font-size: 12pt;">Image scale:</span><br/>
                <input type="radio" name="scale" value="linear"/> Linear <br/>
                <input type="radio" name="scale" value="arcsinh" checked=checked /> Arcsinh
            </div>
            <hr />
            
            <!-- Crosshairs and 1D pixel plot -->
            <input type="checkbox" id="crosshairs" class="control" /> Show crosshairs
            <svg id="rowPlot" class="flux-plot"></svg>
            <svg id="colPlot" class="flux-plot"></svg>
            
            <hr />
            
            <!-- Aperture controls -->
            <input type="checkbox" id="aperture" class="control" /> Show aperture
            // <input type="text" size=3 id="apertureSize" value=8 /> pixels
            
            <!-- Flux measurement in aperture -->
            <div id="aperture-flux-controls">
                <span id="aperture-flux-label">Flux:</span>
                <span id="aperture-flux-value"></span>
            </div>
        </div>
    </div>
    
    <script type="text/javascript">
        
        $(document).ready(function () {
            $("#controlPanel").width($("body").width() - 1015);
        });
        
        var svg_width = 60;
        
        var canvas_width = 900,
            canvas_height,
            aspect_ratio;
        var image_context = document.getElementById("imageContainer").getContext("2d"),
            overlay_context = document.getElementById("imageOverlay").getContext("2d"),
            zoom_context = document.getElementById("zoom-view").getContext("2d")
        
        zoom_context.scale(5,5);
        
        var downsample = 2.;
        
        var imageObj = new Image();
        var raw_data;
        
        function slice2d(data, row1, row2, col1, col2) {
            if (row1 < 0) {
                row1 = 0;
            } else if (row2 > data.length) {
                row2 = data.length-1;
            }
            
            if (col1 < 0) {
                col1 = 0;
            } else if (col2 > data[0].length) {
                col2 = data[0].length-1;
            }
            
            var new_data = new Array();
            for (var i=row1; i<(row2+1); i++) {
                new_data.push(data[i].slice(col1, col2+1));
            }
            
            return new_data;
        }
        
        function load_raw_data() {
            var raw_image_data_url = "/images/raw/" + "{{ta}}/" + "{{image_name}}";
            $.ajax({
                type:"GET",
                url: raw_image_data_url,
                async: false,
                data: {"downsample":downsample, "filter":$("input[name=filter]:checked").val()},
                success: function(data) {
                    raw_data = data.image_data;
                },
                error: function(){
                    // Failed to retrieve raw image data...
                    $(".error").text("Unable to retrieve data for '" + $("input[name=filter]:checked").val() + 
                                     "' filter.");
                }
            });
        }
        $("input[name=filter]").change(function () {
            load_raw_data();
            set_image_src();
        });
        
        // Load and scale image data
        imageObj.onload = function() {
            aspect_ratio =  canvas_width / imageObj.width;
            canvas_height = Math.round(aspect_ratio*imageObj.height);
            
            // Make overlay and image container canvas the same size
            $("#imageContainer").attr("width",canvas_width);
            $("#imageContainer").attr("height",canvas_height);
            $("#imageOverlay").attr("width",canvas_width);
            $("#imageOverlay").attr("height",canvas_height);
            
            // Draw the image
            image_context.drawImage(imageObj, 0, 0, canvas_width, canvas_height);
            
            // The underlying div is relative-positioned, so I need to do this so
            //      the page height scales accordingly.
            $("#imageWrapper").height(canvas_height);
            $("#controlPanel").height(canvas_height-20);
            
            // Set up the SVG plot scalers
            set_scalers();
        };
        
        function set_image_src() {
            var scale = $("input[name=scale]:checked").val();
            imageObj.src = "/images/png/" + "{{ta}}/" + "{{image_name}}" + 
                           "?downsample=2." + "&scale_function=" + scale + 
                           "&filter=" + $("input[name=filter]:checked").val();
        }
        $(document).ready(function (){
            set_image_src();
            load_raw_data();
        });
        
        $("input[name=scale]").click(set_image_src);
        
        /*  ----------------------------------------------------------------- 
            Fancy canvas stuff:
                - Draw crosshairs on canvas 
                - Plot 1D slices of data depending on Mouse position
                - Draw aperture / compute flux in aperture
            ----------------------------------------------------------------- 
        */
        
        var scalers = {row: {}, col: {}};        
        function set_scalers() {
            scalers.row.x = d3.scale.linear().domain([0, svg_width]).range([0, $("#rowPlot").width()]);
            scalers.col.x = d3.scale.linear().domain([0, svg_width]).range([0, $("#rowPlot").width()]);
            scalers.row.y = d3.scale.linear().range([$("#rowPlot").height(),0]);
            scalers.col.y = d3.scale.linear().range([$("#rowPlot").height(),0]);
        }
        
        function compute_aperture_flux(x, y, r) {
            //var _data = image_context.getImageData(x-r, y-r, 2*r, 2*r).data;
            var yy = parseInt(x/aspect_ratio),
                xx = parseInt(y/aspect_ratio);

            var data = slice2d(raw_data, xx-r, xx+r, yy-r, yy+r);
            var sum = 0.0;
            for (var i=0; i<2*r; i++) {
                for (var j=0; j<2*r; j++) {
                     sum += data[i][j];
                }
            }
            return sum;
        }
        
        // Define svg objects for the 1D row and column pixel value plots
        var row_svg = d3.select("svg#rowPlot"),
            col_svg = d3.select("svg#colPlot");
        
        // Add labels to the plots (row or col)
        row_svg.append("text")
            .attr("x", 5)
            .attr("y", 17)
            .text("Row")
        
        col_svg.append("text")
            .attr("x", 5)
            .attr("y", 17)
            .text("Col")
        
        // Every time the mouse moves over the main canvas, we have to update 
        //  a bunch of stuff...
        $("#imageOverlay").mousemove(function (e) {            
            var aperture_radius = parseInt($("#apertureSize").val());
            
            /*
                First update the zoomed image view
            */
            
            // Get the image data by cutting out a box from the main image canvas
            var zoom_data = image_context.getImageData(e.offsetX-15, e.offsetY-15, 2*15, 2*15);
            zoom_context.clearRect(0,0,
                                   $("#zoom-view").width(),
                                   $("#zoom-view").height());
            
            // Write the image data to a temporary (not visible) canvas
            var newCanvas = $("<canvas>")
                            .attr("width", zoom_data.width)
                            .attr("height", zoom_data.height)[0];
            newCanvas.getContext("2d").putImageData(zoom_data, 0, 0);
            
            // Draw image from temp canvas onto zoomed canvas, which has a scale set above
            zoom_context.drawImage(newCanvas, 0, 0);
            
            /*
                Draw crosshairs or aperture around mouse position
            */
            
            // Erase the overlay canvas each time we move the mouse, if one of the
            //  controls is turned on (crosshairs or aperture)
            if ($(".control:checked").length > 0) {
                overlay_context.clearRect(0,0,
                                          $("#imageOverlay").attr("width"),
                                          $("#imageOverlay").attr("height"));
            }
            
            if ($('#crosshairs').attr("checked")) {
                overlay_context.beginPath();
                overlay_context.moveTo(e.offsetX,0);
                overlay_context.lineTo(e.offsetX,$("#imageOverlay").attr("height"));
                overlay_context.stroke();
                overlay_context.moveTo(0,e.offsetY);
                overlay_context.lineTo($("#imageOverlay").attr("width"),e.offsetY);
                overlay_context.strokeStyle = "#EF8A62";
                overlay_context.stroke();
            }
            
            if ($('#aperture').attr("checked")) {                
                overlay_context.beginPath();
                overlay_context.arc(e.offsetX, e.offsetY, aperture_radius, 0, Math.PI*2);
                overlay_context.strokeStyle = "#CA0020";
                overlay_context.stroke();
                
                var flux = compute_aperture_flux(e.offsetX, e.offsetY, aperture_radius);
                $("#aperture-flux-value").text("" + flux);
                
                zoom_context.beginPath();
                zoom_context.arc(15, 15, aperture_radius, 0, Math.PI*2);
                zoom_context.strokeStyle = "#CA0020";
                zoom_context.stroke();
            }
            
            /*
                Make 1D pixel value plots for the row and column around the cursor
            */
            
            var row_index = e.offsetY,
                col_index = e.offsetX;
            
            var _row_data = image_context.getImageData(col_index-svg_width/2, row_index, svg_width, 1).data,
                _col_data = image_context.getImageData(col_index, row_index-svg_width/2, 1, svg_width).data;
            
            var row_data = new Array();
            for (var i=0; i<svg_width; i++) {
                row_data.push(_row_data[i*4]);
            }
            
            var col_data = new Array();
            for (var i=0; i<svg_width; i++) {
                col_data.push(_col_data[i*4]);
            }
            
            scalers.row.y.domain([Math.min.apply(Math, row_data), Math.max.apply(Math, row_data)]).clamp(true);
            scalers.col.y.domain([Math.min.apply(Math, col_data), Math.max.apply(Math, col_data)]).clamp(true);
            
            var row_line = d3.svg.line()
                .x(function(d,i) { return scalers.row.x(i); })
                .y(function(d) { return scalers.row.y(d); });
            
            var col_line = d3.svg.line()
                .x(function(d,i) { return scalers.col.x(i); })
                .y(function(d) { return scalers.col.y(d); })
                .interpolate('linear');
            
            row_svg.selectAll('.row-lines').remove();
    
            var row_lines = row_svg.selectAll('.row-lines')
                    .data(row_data).enter()
                    .append('path')
                    .attr('d', row_line(row_data))
                    .attr('class', 'row-lines');
            
            col_svg.selectAll('.col-lines').remove();
            
            var col_lines = col_svg.selectAll('.col-lines')
                    .data(col_data).enter()
                    .append('path')
                    .attr('d', col_line(col_data))
                    .attr('class', 'col-lines');
                
        });
        
        // If either of the .control objects are clicked, erase the overlay
        $(".control").click(function (e) {
            if ($(".control:checked").length == 0) {
                overlay_context.clearRect(0,0,
                                      $("#imageOverlay").attr("width"),
                                      $("#imageOverlay").attr("height"));
            }
        });
        
    </script>

{% endblock %}